.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 8vh;
    background-color: rgb(25, 27, 32);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

svg {
    width: 45px;
    
}
svg[ss] {
    width: 171;
    height: 45;
    fill: none;
}